body {
    margin: 0;
    background: #eef1f7;
}

/* Header */
header {
    text-align: center;
    padding: 30px;
    position: relative;
}

.subtitle {
    color: #555;
}

.photo {
    width: 300px;
    height:100%;
}

h1 {
    background: #3f51b5;
    color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 5px 10px gray;
    text-shadow: 3px 3px 6px black;
}

/* QR */
.qrcode {
    width: 90px;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Menu */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background: #1a237e;
    padding: 12px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    background: linear-gradient(to right, #3f51b5, #7986cb);
    color: white;
}

/* Cards */
.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px #aaa;
    flex: 1;
}

/* Timeline */
.timeline li {
    margin: 10px 0;
}

/* Stats */
.stats {
    display: flex;
    justify-content: space-around;
}

.stats span {
    font-size: 32px;
    color: #3f51b5;
    font-weight: bold;
}

/* Sections */
section {
    padding: 25px;
    margin: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 12px #aaa;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

th {
    background: #c5cae9;
}

/* Buttons */
.btn {
    padding: 12px 18px;
    background: #3f51b5;
    color: white;
    text-decoration: none;
    border-radius: 12px;
}

/* Footer */
footer {
    background: #0d1137;
    color: white;
    text-align: center;
    padding: 25px;
}

#copyright {
    color: #ffeb3b;
    font-weight: bold;
}
